{% extends 'layout/basic.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'news/css/style.css' %}">
{% endblock %}
{% block content %}
    <header>
        <img src="{% static 'project_images/logo.png' %}" alt="logo" class="logo">
        <div class="searchBox">
            <input type="search" class="search">
            <button class="searchButton"><img src="{% static 'news/images/search.png' %}" alt="search" class="searchImg"></button>
        </div>

        <div class="statisticBox">1 $ = 0.3 бел.руб.</div>
        <div class="headerLine"></div>
        <button class="profileButton"><img src="{% static 'news/images/ava.png' %}" alt="avatar" class="profileImg"></button>
        {% if user.is_authenticated %}
            <p>Добро пожаловать, {{ user }}</p>
            <a href="{% url 'logout' %}">Выйти </a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
            <button class="loginButton">Войти</button>
        {% endif %}
    </header>

    <aside class="rubricBox">

        <p><a href="{% url 'NewsIndex' %}"><h3>НОВОСТИ</h3></a></p>
        <p><a href="{% url 'counter' %}"><h3>Счетчик</h3></a></p>
        <h2>Рубрики</h2>
        <a href="/1/">ПОЛИТИКА</a>
        <a href="/2/">ТЕХНОЛОГИИ</a>
        <a href="/3/">СПОРТ</a>
        <a href="/4/">ПРОИШЕСТВИЯ</a>
        <a href="/5/">КУЛЬТУРА</a>
        <a href="/6/">ДОСУГ</a>
    </aside>

    <div class="wrapper">       
        <div class="slide1">

            <h2 class="slide1Headline">SOME HEADLINE</h2>
            <p class="slide1Pharagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis culpa enim maxime exercitationem quos facere, eum voluptatum dolor asperiores dicta accusantium quis a quibusdam quia numquam impedit labore nemo. Maxime.</p>
        </div>       
        <input type="radio" name="point" class="slideButton slideButton1Pos">
        <input type="radio" name="point" class="slideButton slideButton2Pos">
        <input type="radio" name="point" class="slideButton slideButton3Pos">         
    </div>

    <section class="rightColumn">
        <h2 class="rightColumnHeadline">САМОЕ КОММЕНТИРУЕМОЕ</h2>
    </section>

{% endblock %}