{% extends 'layout/basic.html' %}
{% load static %}
{% block content %}
    <h1>Новости</h1>
    <div>
        <a href="/">Главная</a>
        {% for rubric in rubrics %}
        <a href="/{{ rubric.pk }}/">{{ rubric.name }}</a>
        {% endfor %}
    </div>
    {% for bb in bbs %}
    <div>
        <h2>{{ bb.title }}</h2>
        <p>{{ bb.content }}</p>
        <p><a href="/{{ bb.rubric.pk }}/">{{ bb.rubric.name }}</a></p>
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
    </div>
    {% endfor %}
<h2>Dynamic content</h2>
    <p>Rec counts:</p>
    <ul>
        <li><strong>Emails:</strong>{{ emails }}</li>
        <li><strong>Dates:</strong>{{ dates }}</li>
        <li><strong>Users:</strong>{{ users }}</li>

    </ul>
<p>You have visited this page {{ num_visits }}{% if num_visits == 1%} time{% else %} times{% endif %}</p>
{% endblock %}


